.aemText h1,
.aemText h2,
.aemText h3,
.aemText h4,
.aemText h5,
.aemText h6,
.aemText p {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0 15px;
    vertical-align: baseline;
}

.aemText h1,
.aemText h2,
.aemText h3,
.aemText h4,
.aemText h5,
.aemText h6 {
    text-transform: uppercase;
}

.aemText p {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 200;
    line-height: 32px;
    margin-bottom: 20px;
}

.aemText h1 {
    font-size: 48px;
    letter-spacing: 0.8em;
}

.aemText h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.aemText h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding: 4px 15px;
}

.aemText h5 {
    color: #808080;
    font-size: 18px;
    text-align: center;
}

@media (min-width: 651px) and (max-width: 1200px) {
    .aemText h1 {
        font-size: 30px;
    }

    .aemText h2 {
        font-size: 30px;
    }

    .aemText h3 {
        font-weight: 400;
    }
}
